---

- name: Stop LXC container
  delegate_to: localhost
  community.proxmox.proxmox:
    api_host: "{{ proxmox_api_host }}"
    api_user: "{{ proxmox_api_user }}"
    api_password: "{{ proxmox_api_password }}"
    node: "{{ proxmox_node }}"
    vmid: "{{ lxc_vmid }}"
    hostname: "{{ lxc_hostname }}"
    state: stopped
    force: "{{ lxc_force_stop | default(false) }}"

- name: Display container status
  ansible.builtin.debug:
    msg: "Container {{ lxc_hostname }} (VMID: {{ lxc_vmid }}) is stopped"
