---

- name: Ensure Loki data directory exists
  ansible.builtin.file:
    path: "{{ loki_nas_mount_point }}"
    state: directory
    owner: "{{ loki_user }}"
    group: "{{ loki_group }}"
    mode: "0755"
  become: true

- name: Create Loki data subdirectories
  ansible.builtin.file:
    path: "{{ loki_nas_mount_point }}/{{ item }}"
    state: directory
    owner: "{{ loki_user }}"
    group: "{{ loki_group }}"
    mode: "0755"
  become: true
  loop:
    - chunks
    - index
    - boltdb-shipper-active
    - boltdb-shipper-cache
