[Unit]
Description=Loki log aggregation system
Documentation=https://grafana.com/docs/loki/latest/
After=network.target

[Service]
Type=simple
User={{ loki_user }}
Group=nasgroup
UMask=0002
ExecStart={{ loki_install_dir }}/loki -config.file={{ loki_config_dir }}/config.yml
Restart=on-failure
RestartSec=10

# Security hardening
NoNewPrivileges=true
ProtectSystem=full
ReadWritePaths={{ loki_data_dir }}
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
